/* anton-regular - latin */
@font-face {
	font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('/fonts/Anton-Regular-subset.woff2') format("woff2");
	unicode-range: U+20,U+2E,U+30,U+32,U+33,U+35,U+41,U+43,U+45-49,U+4C-50,U+52-56;
}

/* overpass-regular - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('/fonts/Overpass-Regular-subset.woff2') format("woff2");
	unicode-range: U+20,U+2C,U+2D,U+31,U+34,U+3F,U+41-48,U+4B-54,U+56,U+57,U+61-7A,U+2019,U+1F48E,U+1F4E6,U+1F947,U+1F948;
}
/* overpass-600 - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''), url('/fonts/Overpass-Bold-subset.woff2') format('woff2');
	unicode-range: U+20,U+2C,U+2D,U+31,U+34,U+3F,U+41-48,U+4B-54,U+56,U+57,U+61-7A,U+2019,U+1F48E,U+1F4E6,U+1F947,U+1F948;
}

/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('/fonts/Inter-Regular-subset.woff2') format('woff2');
	unicode-range: U+9,U+A,U+20-22,U+26-29,U+2B-3A,U+3C-59,U+5F,U+61-7A,U+A0,U+2014,U+2019,U+201C,U+201D,U+20AC,U+1F947,U+1F948;
}
/* inter-600 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''), url('/fonts/Inter-Bold-subset.woff2') format('woff2');
	unicode-range: U+9,U+A,U+20-22,U+26-29,U+2B-3A,U+3C-59,U+5F,U+61-7A,U+A0,U+2014,U+2019,U+201C,U+201D,U+20AC,U+1F947,U+1F948;
}
