:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	--font-leading: 'Anton', 'Impact', sans-serif;
	--font-heading: 'Overpass';
	--font-body: 'Inter';

	--primary-color: #3BC0EA;
	--primary-light: #17A4D0;
	--primary-dark-color: #007094;
	--cover-background-light: #122053;
	--cover-background-dark: #122053;
	--secondary-color: hsla(51, 87%, 39%, 1);
	--tertiary-color: hsla(27, 84%, 35%, 1);
	--highlight-color: #3BC0EA;
	--white: #ffffff;

	--bg-color: #212121;
	--bg-dark-color: hsla(0, 0%, 0%, 0.9);

	--heading-color: hsla(0, 0%, 100%, 1);
	--text-color: hsla(188, 42%, 89%, 1);

	--twitter-blue: #1da1f2;

	--full-width: 1180px;
	--column-width: 570px;

	--space: 1.5rem;
	--max-width: 900px;
}

.highlight-text {
	color: var(--primary-color)
}

@media screen and (max-width: 992px) {
	:root {
		--space: 0.75rem;
	}
}